<div class="container mt-4">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="lowerLimit" class="form-label">Límite Inferior</label>
      <input type="number" class="form-control" formControlName="lowerLimit" required>
    </div>
    <div class="mb-3">
      <label for="upperLimit" class="form-label">Límite Superior</label>
      <input type="number" class="form-control" formControlName="upperLimit" required>
    </div>
    <div class="mb-3">
      <label for="values" class="form-label">Valores numéricos (separados por comas)</label>
      <input type="text" class="form-control" formControlName="values" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Calcular</button>
  </form>
</div>




